QLabel{
/*    qproperty-alignment: AlignCenter;*/
    font: "Montserrat";
}

QGroupBox {
border: 3px solid gray;
border-color: #FF17365D;
margin-top: 10px;
border-radius: 15px;
}
QGroupBox::title {
border-bottom-right-radius: 9px;
padding: 2px 82px;
background-color: #FF17365D;
color: rgb(255, 255, 255);
}
QMainWindow{

    background-color: #FFFFac;
}
QPushButton#SearchButton {
    background-color: #FF17365D;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 9px;
}